<ion-view hide-nav-bar="hideNavigationMenu">
    <ion-nav-title>Welcome</ion-nav-title>
    <canvas id="rainbow-canvas"
            style="position: absolute; z-index: 1; display: block; opacity: 0.5; pointer-events: none; background-color: transparent;"></canvas>
    <div id="splash-screen" ng-if="appSettings.appDesign.intro.futuristicBackground === true"
         class="splash-wrapper" style="width: 100%; position: absolute; height: 100%;">
        <div class="splash-grid"></div>
    </div>
    <div ng-click="state.setSpeechEnabled(true)"
        ng-show="!myIntro.ready && appSettings.appDesign.intro.futuristicBackground === true"
         ng-include="'templates/splash-logo.html'" style="z-index: 3;">
    </div>
    <ion-slide-box on-slide-changed="myIntro.slideChanged(index)" style="z-index: 2; background: transparent;">
        <ion-slide ng-repeat="circlePage in appSettings.appDesign.intro.active" ng-show="myIntro.ready"
                   style="display: flex; flex-direction: column; justify-content: center; background-color: {{circlePage.color.backgroundColor}};">
            <div ng-show="!circlePage" ng-include="'templates/splash-logo.html'" style="z-index: 3;"></div>
            <div ng-show="circlePage" ng-cloak ng-include="'templates/fragments/circle-page.html'"></div>
            <div style="max-height: 80px;">
            </div>
        </ion-slide>
    </ion-slide-box>
    <div ng-show="showRobot" ng-include="'templates/robot.html'" ng-click="robotClick()" class="robot-container"
         style="left: calc(50% - 80px);"></div>
</ion-view>
